---
import { DefaultLibrary } from "./DefaultLibrary";
---

<section class="grid grid-cols-3">
  <section class="col-span-2">
    <DefaultLibrary client:load />
  </section>
  <section class="col-span-1">
    Hola buenas tardes
  </section>
</section>
